
	<div class="bg">
		<div class="title">~ Our Events ~</div>
		<div class="line"></div>
	</div>

	
	<div class="event_each">
		<div class="pic fleft">
			<div class="date fright"><p>September</p></div>
			<%= image_tag('agm_meet.jpg', :class => "fright") %>
			
		</div>
		
		<div class="separ fleft"></div>
		<div class="descr fleft ">
			<p class="des_tit">Annual General Meeting</p>
			<p>The Annual General Meeting is the first event of the school year. 
			Members are informed of the different kinds of events that will be planned
			throughout the year. This year we also welcomed a guest speaker, Dr. Jonathan Rocheleau from IBBME,
			who introduced us to his field of study in Bioengineering.</p></div>
	</div>
	<div class="event_each">
		<div class="descr fleft talign_r" >
			<p class="des_tit">Professor Talks</p>
			<p>Our series of professor talks will give you a chance to learn more about cutting-edge research. 
			Aimed to stimulate interest in bioengineering, the talks are suitable for all years and all 
			disciplines to learn about biological applications in engineering. You will also get to network
			with the professors at these events. We plan to cover a wide range of research areas so come 
			to the ones you are interested in!</p></div>
		
		<div class="separ fleft"></div>
		
		<div class="pic fleft"><div class="date fleft"><p>October</p>
		</div>
		<%= image_tag('prof_event.jpg', :class => "fleft") %></div>
		
	</div>
	<div class="event_each">
		<div class="pic fleft">
			<div class="date fright"><p>November</p></div>
			<%= image_tag('mentor_event.png', :class => "fright") %>
		</div>
		
		<div class="separ fleft"></div>
		<div class="descr fleft">
			<p class="des_tit">Mentorship Program</p>
			<p>The mentorship program introduces you to graduate students in bioengineering. 
			As a mentee, you will have opportunities to ask questions about specific areas of 
			research and gain advice for career development. This is a great way to learn what 
			graduate student life is like and if it's the right path for you.</p></div>
	</div>
	<div class="event_each">
		<div class="descr fleft talign_r" >
			<p class="des_tit">BioEngineering Competition</p>
			<p>The annual BESt Design Competition is a fun way to explore issues in the current 
			bioengineering industry. You will be given a real-life problem that you can solve 
			using your engineering design skills. You will be competing against other teams in 
			groups of four. All disciplines and years are welcome, and there will be prizes for the top teams!</p></div>
		
		<div class="separ fleft"></div>
		
		<div class="pic fleft"><div class="date fleft"><p>February</p></div>
		<%= image_tag('competition_event.png', :class => "fleft") %>
		
		</div>
		
	</div>
	<div class="event_each">
		<div class="pic fleft">
			<div class="date fright"><p>April</p></div>
			<%= image_tag('event_prof.png', :class => "fright") %>
			
		</div>
		
		<div class="separ fleft"></div>
		<div class="descr fleft">
			<p class="des_tit">Industry Talk</p>
			<p>For BESt’s industry talks, we invite the top biotechnology 
			companies and recruiters who will inform you of the kind of 
			opportunities are available and how you can have an advantage when
			applying for industry positions. There will also be a networking session after
			the event so bring your resumes!</p></div>
	</div>
	<!--
	<div class="event_each">
		<div class="descr "></div>
		
		<div class="separ"></div>
		<div class="date"></div>
		<div class="pic"></div>
	</div>-->
