

<div class="title">~ Our team ~<div class="line"></div></div>




<div class="exec_body">
	<!--<div class="banner"></div>-->
	<div class="exec_box"></div>
	<div class="exec_box"><%= image_tag('exec_kash.png') %><div class="exec_label">
		<p class="exec_p1"> Kashish Verma EngSci 1T8 (Biomed)<br>Chair</p>
		<p class="exec_p2">Bioengineers do more than just problem solve. They work alongside biologists and help discover more relevant problems that are critical to improving the quality of life. I want to discover those problems and solve them using my engineering skills while serving the population
		at large. I want to design and build new biomedical devices that improve
		healthcare systems and outreach especially in areas of need. </p>
	</div></div>
	<div class="exec_box"><%= image_tag('exec_daph.png') %><div class="exec_label"><p class="exec_p1">Daphne Sze EngSci 1T8 <br>Events Director<br></p>
		<p class="exec_p2">I find bioengineering interesting because it integrates modern technology
		and innovation with living organisms. This field explores the complexities of the human
		body and aims to learn from and improve it. I am particularly interested in neurosensory
		and rehabilitation engineering as it involves different aspects of engineering like computer
		and electrical while still having a direct impact on human life. </p>
	</div></div>
	<div class="exec_box"></div>
	<div class="exec_box"><%= image_tag('exec_jane.png') %><div class="exec_label">
		<p class="exec_p1">Jane H. Seo EngSci 1T8 (Biomed)<br>VP Marketing and Advertising</p>
		<p class="exec_p2">Bioengineering is not only interesting to study since
		it integrates knowledge from every branch of science, but it is also
		a rewarding field to work in because everything can ultimately be used to better
		our living standards. Out of the many areas of bioengineering, I am very interested
		in genetic engineering because of its recent development of the powerful CRISPR-Cas9 technology. </p>
	</div></div>
	<div class="exec_box shadow">
		<p>Our exec team consists of students from various disciplines. Each of 
		us has our own unique reasons for our fascination with Bioengineering, as well as areas
		that each of us is particularly interested in. We look forward to an exciting year with Bioengineering and YOU!</p>
	</div>
	<div class="exec_box"><%= image_tag('exec_alex.png') %><div class="exec_label"> 
		<p class="exec_p1">Alex Li EngSci 1T9<br>VP Communications</p>
		<p class="exec_p2">I am interested in bioengineering because of how much
		I enjoyed my two summers working in bioengineering or biomedical research.
		I also want to apply a broad range of my skills and interests into the real
		world, and bioengineering, because of its interdisciplinary nature and wide-ranging applications
		, fits perfectly with that goal.  </p>
	</div></div>
	<div class="exec_box"><%= image_tag('exec_linda.png') %><div class="exec_label">
		<p class="exec_p1"> Linda Low MSE 1T9<br>VP Marketing and Advertising</p>
		<p class="exec_p2">My fascination with bioengineering began with
		prosthetics, but I've since discovered many different areas 
		like biomaterials and bio-inspired designs. Something that I find 
		really cool at the moment is bioconcrete and tissue engineering. 
		I look forward to a great year with BESt! </p>
	</div></div>
	<div class="exec_box"></div>
	<div class="exec_box"><%= image_tag('exec_rach.png') %><div class="exec_label">
		<p class="exec_p1">Rachel Wong  Indy 1T9<br>VP Finance and Sponsorship</p>
		<p class="exec_p2">I think bioengineering is really cool because it allows people
		from all the engineering disciplines to work together to solve different 
		aspects of the same problem.  I am especially interested in bioinformatics
		(analysis of biological data) and the design of medical devices.
		</p>
	</div></div>
	<div class="exec_box"><%= image_tag('exec_sally.png') %><div class="exec_label">
		<p class="exec_p1"> Sally Chen  ECE 1T9<br>Graphics Director and Webmaster</p>
		<p class="exec_p2">I am fascinated with the fact that BioEngineering can
		help people from so many different ways, from biomaterial that create
		potential for a more sustainable future, to medical devices that save people's lives
		. I am particularly interested in applications of biomechanics in aging, as it
		can truly improve the quality of life of the elderly like my grandparents.
		</p>
	</div></div>
	
	
</div>
