<div class="row">
  <div class="col-md-10 col-md-offset-1">
		<div class="bg">
			<div class="title">~ Our Events ~</div>
			<div class="line"></div>
		</div>
		<% i = 0 %>
		<% @events.each do |event|%>
			<% i+=1 %>
			<div class="event_each">
				<% if i%2 == 1 %>
				<div class="pic fleft">
					<div class="date fright"><p><%= event.event_date %></p></div>
					<%= image_tag(event.picture.url, :class => "fright") if event.picture? %>
				</div>
				<div class="separ fleft"></div>
				<div class="descr fleft ">
					<p class="des_tit"><%= event.event_title %></p>
					<p><%= event.event_content %></p>
					<div class="thumnail_frame">
<!-- images try out-------------------------->
					  <% event.ev_pictures.each do |ev_picture|%>
					  	
					  	<% if ev_picture.picture? %>
					  		<%= link_to image_tag(ev_picture.picture.url, :class => "fleft"), image_path(ev_picture.picture.url),data:{ lightbox: event.event_title, title: event.event_title} %>
					  	<% end %>
					  <% end %>
					</div>
<!-- images try out-------------------------->					
					
					<% if logged_in? %>	
						<p><%= link_to "Edit", edit_event_path(event) %> |
								<%= link_to "Add Images", event %> | 
								<%= link_to "delete", event, method: :delete,
										data: { confirm: "You sure?" } %></p>
					<% end %>
				</div>
				<% end %>
				
				<% if i%2 == 0 %>
					<div class="descr fleft talign_r" >
						<p class="des_tit"><%= event.event_title %></p>
						<p><%= event.event_content %></p>
					
						<% if logged_in? %>	
							<p><%= link_to "Edit", edit_event_path(event) %> |
								<%= link_to "Add Images", event %> | 
								<%= link_to "delete", event, method: :delete,
										data: { confirm: "You sure?" } %></p>
						<% end %>
						<div class="thumnail_frame">
<!-- images try out-------------------------->
						  <% event.ev_pictures.each do |ev_picture|%>
						  	
						  	<% if ev_picture.picture? %>
						  		<%= link_to image_tag(ev_picture.picture.url, :class => "fright"), image_path(ev_picture.picture.url),data:{ lightbox: event.event_title, title: event.event_title} %>
						  	<% end %>
						  <% end %>
						</div>
					</div>
					<div class="separ fleft"></div>
					<div class="pic fleft">
						<div class="date fleft">
							<p><%= event.event_date %></p>
						</div>
						<%= image_tag(event.picture.url, :class => "fleft") if event.picture? %>
					</div>
				<% end %>
			</div>
		
		<% end %>
  </div>
</div>