<div class="row">
  <div class="col-md-10 col-md-offset-1">
		<div class="bg">
			<div class="title">~ Our Events ~</div>
			<div class="line"></div>
		</div>
		<% i = 0 %>
		<% @events.each do |event|%>
			<% i+=1 %>
			<div class="event_each">
				<% if i%2 == 1 %>
				<div class="pic fleft">
					<div class="date fright"><p><%= event.event_date %></p></div>
					<%= image_tag(event.picture.url, :class => "fright") if event.picture? %>
				</div>
				<div class="separ fleft"></div>
				<div class="descr fleft ">
					<p class="des_tit"><%= link_to event.event_title, event %></p>
					<p><%= event.event_content %></p>
					<div class="thumnail_frame">
					  <%= link_to image_tag('agm.jpg', :class => "fleft "), image_path("agm.jpg"), data:{ lightbox: "agm", title: "11111"} %>
					  <%= link_to image_tag('educate.png', :class => "fleft "), image_path("educate.png"), data:{ lightbox: "agm", title: "222"} %>
					  <%= link_to image_tag('mentor.png', :class => "fleft "), image_path("mentor.png"), data:{ lightbox: "agm", title: "333"} %>
					  <%= link_to image_tag('agm.jpg', :class => "fleft "), image_path("agm.jpg"), data:{ lightbox: "agm", title: "444"} %>
					  <%= link_to image_tag('agm.jpg', :class => "fleft "), image_path("agm.jpg"), data:{ lightbox: "agm", title: "555"} %>
					  <%= link_to image_tag('agm.jpg', :class => "fleft "), image_path("agm.jpg"), data:{ lightbox: "agm", title: "66"} %>
						
				
					</div>
					
					
					<% if logged_in? %>	
						<p><%= link_to "Edit", edit_event_path(event) %> | <%= link_to "delete", event, method: :delete,
						data: { confirm: "You sure?" } %></p>
					<% end %>
				</div>
				<% end %>
				
				<% if i%2 == 0 %>
					<div class="descr fleft talign_r" >
						<p class="des_tit"><%= link_to event.event_title, event %></p>
						<p><%= event.event_content %></p>
					
						<% if logged_in? %>	
							<p><%= link_to "Edit", edit_event_path(event) %> | <%= link_to "delete", event, method: :delete,
							data: { confirm: "You sure?" } %></p>
						<% end %>
					</div>
					<div class="separ fleft"></div>
					<div class="pic fleft">
						<div class="date fleft">
							<p><%= event.event_date %></p>
						</div>
						<%= image_tag(event.picture.url, :class => "fleft") if event.picture? %>
					</div>
				<% end %>
			</div>
		
		<% end %>
  </div>
</div>