
		<div class="head">
			<div class="logo">
			<%= image_tag('logo_notext.png') %>
			</div>
			<ul>
				<% if logged_in? %>
          <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
          <li><%= link_to "NEW EVENT", events_new_path, style:"color:#b89acf" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        
					<li><%= link_to "EXECS", exec_path, style:"color:#b89acf" %></li>
					<li><%= link_to "EVENTS", events_path, style:"color:#b89acf" %></li>
					<li><%= link_to "ABOUT US", about_path, style:"color:#b89acf" %></li>
					<li><%= link_to "HOME", root_path, style:"color:#b89acf" %></li>	
				<% end %>
			</ul>
		</div><!---head--->